{% extends 'home/base.html' %}
{% block contenido %}

{% load crispy_forms_tags %} 
{% load humanize %}

<br>
<div class="container bg-light">
    <br>
    <div class="card">
        <div class="card-body">
            <h2>Lista de productos</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-md">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>¿Es Nuevo?</th>
                    <th>Opciones</th>
                </tr>
            
                {% for p in entity %}
                    <tr>
                        <td>{{p.nombre | title}}</td>
                        <td>${{p.precio | intcomma}}</td>
                        <td>{{p.categoria}}</td>
                        <td>
                            {% if p.nuevo %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                            &nbsp;
                            <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {% include 'home/paginator.html' %}
            </div>
        </div>
    </div>

    <br>
    <center>
    <a href="{% url 'agregar_producto' %}" class="btn btn-primary btn-sm">Agregar Nuevo Producto</a>
    </center>
    <br>
</div>

<br>
<br>
<br>
{% endblock %}