{% extends 'home/base.html' %}
{% block contenido %}

<br>
<div class="container">       
    <div class="row">
        <div class="col 12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Acerca de la Empresa</h2>
                    <hr>
                    {% load static %}
                    <div class="divlogoacerca">
                        <img src="{% static '/img/logo.png' %}" alt="JaguareteKaaSA" class="logoacerca">
                    </div>

                    <div class="divtextoacerca">
                        Jaguarete Kaa S.A. ha fundamentado su lineamiento de trabajo en la calidad de sus productos logrado a través de años de esfuerzo comenzando con la selección de las semillas, control en viveros, plantaciones, cosechas, secado, estacionamiento, molienda y envasado, buscando siempre que el producto ofrecido sea el pretendido por el cliente. Todas estas tareas se realizan bajo controles técnicos que aseguran una calidad constante en el producto, implementándose programas de capacitación permanente con instrucciones específicas al personal que manipula el producto en lo que refiere a técnica, limpieza y seguridad,
orientado siempre a lograr un equilibrio entre calidad y productividad. Estamos radicados en Gobernador Lopez, Provincia de Misiones y nuestra empresa engloba todo el circuito abarcando desde la producción primaria (contando con plantaciones propias y autoabastecimiento de materia prima) hasta los proceso de elaboración, estacionamiento e industrialización del producto, contando con equipos y tecnología de última generación, totalmente automatizada. Abarcar todas las etapas nos permite llevar un control y seguimiento estricto de todo el proceso productivo.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}