{% extends 'home/base.html' %}
{% block contenido %}

{% load humanize %}

<div class="container"> 

    <div class="productos">
                {% for p in productos %}
                <div class="producto">
                    <div class="contenedor_producto">

                        <div>
                            {% if p.imagen %}
                                <img src="{{ p.imagen.url }}" class="img-fluid" alt="imagen producto">
                            {% endif %}
                        </div>

                        <div class="detalle">
                            <b>{{ p.categoria | capfirst }}</b>
                            <h5>{{ p.nombre | title }}</h5>
                            <h4>${{ p.precio | intcomma }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
    </div>
</div>

<br>

<div class="container">    
    <div class="card">
        <div class="card-body">
            <b>Productos</b>
            <table class="table small table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                </tr>
            
                {% for p in entity %}
                    <tr>
                        <td align="left" >{{p.nombre | title}}</td>
                        <td align="right">${{p.precio | intcomma}}</td>
                        <td align="left" >{{p.categoria}}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {% include 'home/paginator.html' %}
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>


{% endblock %}