{% extends 'home/base.html' %}
{% block contenido %}

{% load humanize %}

<div class="container">

    <div class="productos">
                {% for p in productos %}
                <div class="producto">
                    <div class="contenedor_producto">
                        {% if p.imagen %}
                            <img src="{{ p.imagen.url }}" alt="imagen producto">
                        {% endif %}
                        <div class="detalle">
                            <b>{{ p.categoria | capfirst }}</b>
                            <h5>{{ p.nombre | title }}</h5>
                            <h4>${{ p.precio | intcomma }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
    </div>
</div>

<br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Lista completa</h5>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                </tr>
            
                {% for p in todos %}
                    <tr>
                        <td>{{p.nombre | title}}</td>
                        <td>${{p.precio | intcomma}}</td>
                        <td>{{p.categoria}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>
<br>
<br>


{% endblock %}