{% extends 'home/base.html' %}
{% block contenido %}

<br><br>





{% load humanize %}
<h2>Productos</h2>
<div class="productos">

    {% for p in productos %}
    <div class="producto">


        <div class="contenedor_producto">
            {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <b>{{ p.categoria | capfirst }}</b>
                <h5>{{ p.nombre | title }}</h5>
                <h4>${{ p.precio | intcomma }}</h4>
            </div>

        </div>



    </div>
    {% endfor %}

</div>
<br>
<br>
<br>


{% endblock %}